.likes {
   
    border-radius: 8px;
    text-align: center;
    vertical-align: middle; 
    width: 80px;   
    background-color: rgba(105, 189, 238, 0.1);

    display: table-cell;
    vertical-align: middle;
}

.btn {
    border-radius: 8px;
    width: 30px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    border: none;
    background-color: inherit;

}
.btn img {
    max-height: 15px;
    max-width: 15px;
    border-radius: 0;

}



.like {
    margin-right: 5px;
}
