.item {
    padding: 10px;
    grid-area: post_area;
    color: red;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.likes {
   
    border-radius: 8px;
    text-align: center;
    vertical-align: middle; 
    width: 80px;   
    background-color: rgba(105, 189, 238, 0.1);

    display: table-cell;
    vertical-align: middle;
}

.btn {
    border-radius: 8px;
    width: 30px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    border: none;
    background-color: inherit;
    

}
.btn img {
    max-height: 15px;
    max-width: 15px;
    border-radius: 0;

}

.like {
    margin-right: 5px;
}

.post_body {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}
